* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    background-color: darkgray;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-auto-rows: minmax(310px, auto);
    gap: 15px;
}

.text {
    font-size: 32px;
}

.item {

    background-color: white;
    border: 3px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}